html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}    

.headerwrap {
    background-color: #FFFFFF;
}

nav {
    background-color: #FFFFFF;
    height: 80px;
    width: 100%;
    justify-content: space-around;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #00308F;
} 

header {   
    font-size: 35px;
    font-weight: bold;
    color: #007FFF;
    line-height: 80px;
    padding: 0 55px;
    float: left;
    cursor: pointer;
}

header span {
    font-size: 35px;
    color: #00308F;
}   

header:hover {
    transform:scale(1.1);
    transition: 0.3s;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 82px;
    margin: 0 5px;
    list-style: none;
}

nav ul li a {
    position: relative;
    font-size: 22px;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #00308F;
    padding: 4px 15px;
    border-radius: 3px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    background-color: #007FFF;
    height: 3px;
    width: 0px;
    left: 0px;
    bottom: 0px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #007FFF;
}

nav ul li a:hover::after {
    width: 100%;
}

#logo {
    display: block;
    position: static;
    float: right;
    margin-right: 25px;
    max-height: 100px;
    max-width: 175px;
    margin-top: -11px;
    cursor: pointer;
}

#logo:hover {
    transform:scale(1.2);
    transition: 0.3s;
}

.homepage, .aboutpage, .servicespage, .contactpage {
    display: flex;
    height: 100vh;
    align-items: center;
}

.homepage {
    display: inline-flex;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 60px;
}

.homepage::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    background-image: url("ProgrammersBackground.jpg");
    background-size: cover;
    height: 112vh;
    background-repeat: no-repeat;
    opacity: 0.3;
}

.homepage #hometitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    color: #00308F;
    margin-left: 180px;
}

.homepage #hometitle::before {
    display: block;
    position: absolute;
    content: "";
    width: 120px;
    height: 3px;
    margin-right: 10px;
    margin-left: 50px;
    top: 242px;
    z-index: -1;
    background-image: linear-gradient(to right,  #b5bafe, #b5bafe, #809bff, #809bff, #007fff);
}

.homepage #hometagline {
    position: relative;
    text-align: left;
    color: #007FFF;
    font-size: 100px;
    font-weight: 600;
    padding-top: 35px;
    margin-left: 50px;
    margin-bottom: 30px;
}

.homepage #safety {
    color: #00308F;
}

.homepage #homequote {
    padding-top: 70px;
    color: #00308F;
    font-size: 30px;
    margin-left: 50px;
}

.circle1 {
    content: "";
    display: inline-block;
    position: relative;
    background-image: linear-gradient(to right,  #b5bafe, #b5bafe, #809bff, #809bff, #007fff);
    opacity: 0.7;
    z-index: -1;
    height: 260px;
    width: 310px;
    border-radius: 50%;
    margin-bottom: 400px;
    right: -100px;
}

.secure {
    display: inline-flex;
    position: relative;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #007FFF;
    width: 215px;
    padding: 23px; 
    margin-top: 430px;
    color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}  

.secure:hover, .secure:focus, .secure:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.circle2 {
    content: "";
    display: inline-block;
    position: absolute;
    background-image: linear-gradient(to right,  #b5bafe, #b5bafe, #809bff, #809bff, #007fff);
    opacity: 0.7;
    z-index: -1;
    height: 400px;
    width: 900px;
    border-radius: 50%;
    margin-top: 900px;
    margin-left: 350px;
}

.aboutpage {
    background-color: #FFFFFF;
    display: flex;
    padding-top: 10px;
    padding-right: 600px;
}

.firsthalf {
    width: 80%;
}

.firsthalf #abouttitle {
    padding-bottom: 200px;
    color: #00308F;
    font-size: 50px;
    font-weight: bold;
}

.firsthalf #abouttagline {
    position: relative;
    text-align: justify;
    color: #00308F;
    font-size: 50px;
    font-weight: normal;
    padding-top: 35px;
}

.firsthalf #aboutquote {
    color: #555555;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#aboutpicfirst {
    display: flex;
    position: relative;
    height: 370px;
    width: 480px;
}

.secondhalf {
    width: 80%;
}

.secondhalf #aboutquote2 {
    color: #555555;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 550px;
    margin-left: 845px;
}

.secondhalf #aboutquote3 {
    color: #555555;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 550px;
    margin-left: 845px;
}

.secondhalf #aboutquote4 {
    color: #555555;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 30px;
    width: 550px;
    margin-left: 845px;
}

#aboutpicsecond {
    display: flex;
    position: relative;
    height: 370px;
    width: 550px;
    margin-left: 845px;
    margin-top: -700px;
}

.servicespage {
    background-color: #007FFF;
    display: flex;
    padding-bottom: 10px;
    padding-right: 600px;
}

.servicespage #servicetitle {
    padding-bottom: 200px;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: bold;
}

.servicespage #servicetagline {
    position: relative;
    text-align: justify;
    color: #FFFFFF;
    font-size: 50px;
    font-weight: normal;
    padding-top: 35px;
    padding-bottom: 100px;
}

.srow {
    display: inline-flex;
    flex-wrap: nowrap;
}

.scol1, .scol2, .scol3 {
    width: 50%;
    padding: 0 15px 15px 0;
}

.scol1 h2, .scol2 h2, .scol3 h2 {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.scol1 ul li:not(:last-child), .scol2 ul li:not(:last-child), .scol3 ul li:not(:last-child) {
    margin-bottom: 10px;
}

.scol1 ul li, .scol2 ul li, .scol3 ul li{
    display: inline-block;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;     
    transition: all 0.3s ease;
}

#soffer {
    font-size: 30px;
}

#offers {
    text-transform: none;
}

h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 31px;
    background-color: #00308F;
    box-sizing: border-box;
}

#learn {
    padding-top: 20px;
}

.arrowright {
    color: #FFFFFF;
    padding-left: 8px;
    cursor: pointer;
}

#learn:hover, .arrowright:hover {
    color: #00308F;
    padding-left: 3px;
    cursor: pointer;
}

.logoplacement {
    margin-top: 100px;
}

#logo2 {
    display: flex;
    position: relative;
    height: 600px;
    width: 600px;
    margin-left: 850px;
    margin-top: -680px;
}       

.contactpage {
    background-color: #FFFFFF;
    display: flex;
    padding-top: 0px;
    padding-right: 600px;
}

.cfirsthalf {
    width: 80%;
}

.cfirsthalf #contacttitle {
    padding-bottom: 200px;
    color: #00308F;
    font-size: 50px;
    font-weight: bold;
}

#contactpic {
    display: flex;
    position: relative;
    height: 500px;
    width: 630px;
    margin-top: 50px;
}

.csecondhalf {
    width: 80%;
}

.csecondhalf #contacttagline {
    color: #00308F;
    font-size: 70px;
    font-weight: normal;
    padding-top: 35px;
    height: 370px;
    width: 500px;
    margin-left: 870px;
    margin-bottom: -100px;
    margin-top: -600px;
}

.csecondhalf #cheader {
    color: #007FFF;
    text-align: justify;
    text-justify: auto;
    font-size: 25px;
    padding-bottom: 10px;
    width: 500px;
    margin-left: 870px;
}

#cheader:hover {
    color: #00308F;
    font-weight: 300;
    padding-left: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.csecondhalf #contactquote1 {
    color: #555555;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    padding-bottom: 30px;
    width: 500px;
    margin-left: 870px;
}

.csecondhalf #contactquote2 {
    color: #555555;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    padding-bottom: 30px;
    width: 500px;
    margin-left: 870px;
}

.csecondhalf #contactquote3 {
    color: #555555;
    text-align: justify;
    text-justify: auto;
    font-size: 20px;
    padding-bottom: 30px;
    width: 500px;
    margin-left: 870px;
}

.sectionwrap {
    width: 86%;
    margin: 0 auto;
}

.scrolltop {
    position: fixed;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    color: #FFFFFF;
    width: 60px;
    height: 60px;
    bottom: 100px;
    right: 50px;
    border-radius: 50%;
    background-color: #00308F;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.scrolltop.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}

.scrolltop:hover {
    transform:scale(1.2);
    transition: 0.3s;
}

footer {
    background-color: #007FFF;
    padding: 50px 0px;
}

.footerwrap {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 25%;
    padding: 0 15px;
}

.col h4 {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 3px;
    width: 50px;
    background-color: #00308F;
    box-sizing: border-box;
}

.col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.col ul li a {
    display: block;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 300;
    text-decoration: none;
    text-transform: capitalize;     
    transition: all 0.3s ease;
}

.col ul li a:hover {
    color: #00308F;
    padding-left: 3px;
}

.socialmedia a {
    display: inline-block;
    text-align: center;
    line-height: 40px;
    color: #FFFFFF;
    height: 40px;
    width: 40px;
    background-color: #00308F;
    margin: 0 10px 10px 0;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.socialmedia a:hover { 
    color: #00308F;
    background-color: #FFFFFF;
}

footer ul {
    list-style: none;
}